.actioncontainer-css {
	display: flex;
	flex-direction: column;
	height: 100vh; /* Set a fixed height for the entire container */
	width: 100%;
	padding: 20px;
	overflow: auto; /* Allow scrolling if content exceeds the height */
}

.actionTabContent-css {
	margin-top: 20px;
}

.countdown {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 300px;
	height: 100px;
	border: 1px solid grey;
	border-radius: 40px;
	box-shadow: 1px 3px 3px 3px rgb(194, 194, 194);
}
/* .actionBottomContainer-css {
	/* display: flex;
	flex-direction: column;
	align-self: flex-end;
	margin-top: auto;
	align-items: left;
} */
