.actioncontainer-css {
	margin-top: 5%;
	/* width: 400px; */
}

.actionTabContent-css {
	display: flex;
	flex-direction: column;
	/* height: 50vh; */
	padding: 20px;
	/* padding-right: 30px; */
	text-align: left;
	/* overflow-x: hidden; */
}
.keywordBadges ul {
	bottom: 30%;
}
.keywordBadges li {
	display: inline-block;
	margin-right: 10px;
	align-self: center;
	background-color: #8691c2;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 5px;
	color: #ffffff;
}

#joinButton-css:hover {
	background-color: #6b7db2;
}

.countdown {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 350px;
	height: 100px;
	border: 3px solid #1640d6 !important;
	border-radius: 60px;
	box-shadow: 1px 3px 3px 3px rgb(194, 194, 194);
	align-self: center;
	margin-left: 25%;
	margin-top: 3%;
	margin-bottom: 3%;
	background: linear-gradient(to right, #ff90c2, #ed5ab3);
	/* margin-bottom: 50px; */
	/* position: fixed; */
	/* bottom: 0; */
	/* z-index: 1; */
	/*  bottom: 50px; */
	/* transform: translateX(-50%; */
}

.actioncontainer-css {
	margin-top: 5%;
	/* width: 400px; */
}
.actionTabContent-css {
	display: flex;
	flex-direction: column;
	/* height: 50vh; */
	padding: 20px;
	/* padding-right: 30px; */
	text-align: left;
	/* overflow-x: hidden; */
}

/* .buttonSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px;
    /* z-index: 2;
 } */
.joinButton {
	display: flex;
	align-items: center;
	justify-content: center;
	/* position: fixed; */
	/* bottom: 0;
    right: 0; */
	/* padding: 20px; */
}
.countdown {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 350px;
	height: 100px;
	border: 1px solid grey;
	border-radius: 40px;
	box-shadow: 1px 3px 3px 3px rgb(194, 194, 194);
	align-self: center;
	margin-left: 25%;
	/* margin-bottom: 50px; */
	/* position: fixed; */
	/* bottom: 0; */
	/* z-index: 1; */
	/*  bottom: 50px; */
	/* transform: translateX(-50%; */
}
