.actioncontainer-css {
	margin-top: 5%;
	/* width: 400px; */
}

.actionTabContent-css {
	display: flex;
	flex-direction: column;
	/* height: 50vh; */
	padding: 20px;
	/* padding-right: 30px; */
	text-align: left;
	/* overflow-x: hidden; */
}

.keywordBadges ul {
	bottom: 30%;
}

.keywordBadges li {
	display: inline-block;
	margin-right: 10px;
	align-self: center;
}

.joinButton {
	display: flex;
	align-items: center;
	justify-content: center;
	/* position: fixed; */
	/* bottom: 0;
	right: 0; */
	/* padding: 20px; */
}

.countdown {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 350px;
	height: 100px;
	border: 1px solid grey;
	border-radius: 40px;
	box-shadow: 1px 3px 3px 3px rgb(194, 194, 194);
	align-self: center;
	margin-left: 25%;
	background-image: linear-gradient(to bottom right, red, yellow);
}
