a {
	text-decoration: none;
	color: black;
}

body {
	margin: 20px;
	margin-top: 55px;
	text-align: center;
	/* background-image: linear-gradient(to bottom right lavender to blue); */
	/* background: linear-gradient(to bottom right, #6c4ab6, #b9e0ff); */
}
